In [408]:
# Dependencies
import pandas as pd

In [409]:
# Save path to data set in a variable
data_file = "purchase_data.json"

In [410]:
# Use Pandas to read data
df = pd.read_json(data_file)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [411]:
# Find total numbers of players
player_count = len(df['SN'].unique())

In [412]:
# Create dataframe for player count
player_count_df = pd.DataFrame({"Player Count":player_count}, index=[0])
player_count_df

   Player Count
0           573

In [413]:
# Find number of unique items, average purchase price, total number of purchases and total revenue
uniqueitem_count = len(df['Item Name'].unique())
average_purchase_price = df["Price"].mean()
total_purchases = df['Item Name'].count()
total_revenue = df["Price"].sum()

In [414]:
# Create data frame for purchasing analysis
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":uniqueitem_count, "Average Price":average_purchase_price, "Number of Purchases":total_purchases, "Total Revenue":total_revenue}, index=[0])
purchasing_analysis_df.head()

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       2.931192                  780                     179        2286.33

In [415]:
#Find count of male, female, and other / non-disclosed players
gender_count = df["Gender"].value_counts()
gender_percentage = df["Gender"].value_counts("Male")

In [416]:
# Create data frame for gender demographics
gender_demographics_df = pd.DataFrame({"Percentage of Players":gender_percentage, "Total Count":gender_count})
gender_demographics_df

                       Percentage of Players  Total Count
Male                                0.811538          633
Female                              0.174359          136
Other / Non-Disclosed               0.014103           11

In [417]:
# Find purchase count, average purchase price, total purchase value and normalized totals for males
male_df = df.loc[df['Gender'] == 'Male']


unique_males = male_df['Gender'].value_counts()
male_total_purchases = male_df['Item Name'].count()
male_average_price = male_df['Price'].mean()
male_total_revenue = male_df['Price'].sum()
normalized_males = male_total_revenue / unique_males

In [418]:
#Find purchase count, average purchase price, total purchase value and normalized totals for females
female_df = df.loc[df['Gender'] == 'Female']

unique_females = female_df['Gender'].value_counts()
female_total_purchases = female_df['Item Name'].count()
female_average_price = female_df['Price'].mean()
female_total_revenue = female_df['Price'].sum()
normalized_females = female_total_revenue / unique_females

In [419]:
# Find purchase count, average purchase price, total purchase value and normalized totals for other / non-disclosed
other_df = df.loc[df['Gender'] == 'Other / Non-Disclosed']

unique_others = other_df['Gender'].value_counts()
other_total_purchases = other_df['Item Name'].count()
other_average_price = other_df['Price'].mean()
other_total_revenue = other_df['Price'].sum()
normalized_others = female_total_revenue / unique_others

In [420]:
#Create data frame for purchasing analysis by gender
gender_purchasing_df = pd.DataFrame({"Gender": ["Male", "Female", "Other"], "Revenue Total":[male_total_revenue, female_total_revenue, other_total_revenue], "Purchase Count": [male_total_purchases, female_total_purchases, other_total_purchases], "Mean Purchase Price": [male_average_price, female_average_price, other_average_price], "Normalized Total": [normalized_males, normalized_females, normalized_others]})
gender_purchasing_df

,Gender,Mean Purchase Price,Normalized Total,Purchase Count,Revenue Total
0,Male,2.950521,"Male 2.950521 Name: Gender, dtype: float64",633,1867.68
1,Female,2.815515,"Female 2.815515 Name: Gender, dtype: float64",136,382.91
2,Other,3.249091,"Other / Non-Disclosed 34.81 Name: Gender, d...",11,35.74

In [421]:
#Find min and max ages to determine bins
print(df['Age'].max())
print(df['Age'].min())

45
7

In [422]:
# Create the bins in which the data will be held

# Bins are 5-10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40-45
bins = [5,10,15,20,25,30,35,40,45]

# Create labers for these bins
group_labels= ["5 to 10", "10 to 15", "15 to 20", "20 to 25", "25 to 30", "30 to 35", "35 to 40", "40 to 45"]

# Slice the data and place it into bins
pd.cut(df["Age"], bins, labels= group_labels).head()

0    35 to 40
1    20 to 25
2    30 to 35
3    20 to 25
4    20 to 25
Name: Age, dtype: category
Categories (8, object): [5 to 10 < 10 to 15 < 15 to 20 < 20 to 25 < 25 to 30 < 30 to 35 < 35 to 40 < 40 to 45]

In [423]:
# Insert 'Age Group' column into data frame
df["Age Group"] = pd.cut(df["Age"], bins, labels = group_labels)

In [424]:
# Create a GroupBy object based upon "Age"
gamer_group = df.groupby("Age Group")
grouped_gamer_count = gamer_group["Age"].count()
grouped_gamer_percentage = grouped_gamer_count / total_purchases

In [425]:
# Create a data frame showing the percentage of players and total count of each age group
age_demo_df = pd.DataFrame({"Percentage of Players":grouped_gamer_percentage, "Total Count": grouped_gamer_count})
age_demo_df

           Percentage of Players  Total Count
Age Group
5 to 10                 0.041026           32
10 to 15                0.100000           78
15 to 20                0.235897          184
20 to 25                0.391026          305
25 to 30                0.097436           76
30 to 35                0.074359           58
35 to 40                0.056410           44
40 to 45                0.003846            3

In [426]:
# Find out the purchase count, average purchase price, total purchase value, and normalized totals for each age demographic
unique_grouped = gamer_group["SN"].value_counts()
grouped_purchase_count = gamer_group["Item ID"].count()
grouped_average_price = gamer_group["Price"].mean()
grouped_total_revenue = gamer_group["Price"].sum()
grouped_normalized_total = grouped_total_revenue / unique_grouped

In [427]:
# Create data frame for purchasing analysis by age group
grouped_gamers_df = pd.DataFrame({"Purchase Count":grouped_purchase_count, "Average Purchase Price": grouped_average_price, "Total Purchase Value":grouped_total_revenue}) 
grouped_gamers_df

           Average Purchase Price  Purchase Count  Total Purchase Value
Age Group
5 to 10                  3.019375              32                 96.62
10 to 15                 2.873718              78                224.15
15 to 20                 2.873587             184                528.74
20 to 25                 2.959377             305                902.61
25 to 30                 2.892368              76                219.82
30 to 35                 3.073448              58                178.26
35 to 40                 2.897500              44                127.49
40 to 45                 2.880000               3                  8.64

In [428]:
#Find out the purchase count, average purchase price, revenue total for the top spenders 
sn_total = df.groupby(['SN']).sum()["Price"]
top_spenders_df = pd.DataFrame
sn_count = df.groupby(['SN']).count()["Item Name"]
sn_average = df.groupby(['SN']).mean()["Price"]

In [429]:
# Create data frame showing the top spender's screen name, average purchase price, purchase count, and revenue total
top_spenders_df = pd.DataFrame({"Revenue Total":sn_total, "Purchase Count": sn_count, "Average Purchase Price": sn_average})
top_spenders_df.sort_values("Revenue Total", ascending=False).head()

             Average Purchase Price  Purchase Count  Revenue Total
SN
Undirrala66                3.412000               5          17.06
Saedue76                   3.390000               4          13.56
Mindimnya67                3.185000               4          12.74
Haellysu29                 4.243333               3          12.73
Eoda93                     3.860000               3          11.58

In [430]:
#Find out the purchase count, total purchase value for the top selling items
item_revenue = df.groupby(["Item ID", "Item Name"]).sum()["Price"]
item_purchase_count = df.groupby(["Item ID", "Item Name"]).count()["Price"]

In [431]:
id_total_revenue = df.groupby(["Item ID", "Item Name"]).sum()["Price"]
popular_items_df = pd.DataFrame({"Purchase Count":item_purchase_count, "Total Purchase Value":item_revenue})
popular_items_df.sort_values("Purchase Count", ascending=False).head()

,,Purchase Count,Total Purchase Value
Item ID,Item Name,,
39,"Betrayal, Whisper of Grieving Widows",11,25.85
84,Arcane Gem,11,24.53
31,Trickster,9,18.63
175,Woeful Adamantite Claymore,9,11.16
13,Serenity,9,13.41